@use '@angular/material' as mat;

// Define your theme using mat.define-theme
$regioki-theme: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Calibri',
    ),
  )
);

html {
  @include mat.all-component-themes($regioki-theme);
}
